/*colors*/

$colorTextMain: #ffffff;
$colorTextMain_transparent: #ffffff44;
$colorTextSecond: #000000;
$colorSecond: #50133c;
$colorBG: #929b80;
$colorBG_2: #cab7c3;
$colorBG_2_transparent: #cab7c3d5;
$colorBG_transparent: #929b8050;