/*colors*/

$colorTextMain: #ffffff;
$colorTextMain_transparent: #ffffff44;
$colorTextSecond: #000000;
$colorSecond: #4e123a;
$colorBG: #929b80;
$colorBG_dark: #515842;
$colorBG_2: #cab7c3;
$colorBG_2_transparent: #cab7c3d5;
$colorBG_transparent: #929b8050;
$color_blue: #669999;
$color_blue_transparent: #669999ab;
$color_light_green: #339966;
$color_green: #003333;
$color_green_transparent: #00333380;