@import "_font";
@import "_variables";
html,
body {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}

.container {
    width: 100%;
    background-color: #ccc;
    margin: 0 auto;
}

.head {
    background-image: url("../img/Fon_Leo-photo-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    &__box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.head {
    &__logo {
        width: 12%;
        margin: 0 0 0 10%;
        padding: 3% 0 0 0;
        &_image {
            width: 150px;
            min-height: 50px;
            background-image: url("../img/Logo_LEO.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
        &_phone {
            width: 150px;
            margin-top: 3%;
            text-align: center;
            color: $colorTextMain;
        }
    }
}

.menu {
    width: 50%;
    &__block {
        width: 100%;
        margin: 6.2% 0 0 0;
        padding: 0;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: flex-end;
        &_item {
            display: block;
            width: 20%;
            height: 30px;
            border: 1px solid #000;
            border-radius: 15px;
            margin: 0 3% 0 0;
            list-style-type: none;
            box-sizing: border-box;
        }
        &_link {
            display: block;
            text-align: center;
            padding: 5px 0;
            text-decoration: none;
            color: $colorTextMain;
        }
    }
}

.headihg {}

.subtitle {
    &_down {}
}