@import "_font";
@import "_variables";
html,
body {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}

.container {
    width: 100%;
    background-color: #ccc;
    margin: 0 auto;
    font-family: $fontFirst;
}

.block-off {
    display: none;
}

.head {
    background-image: url("../img/Fon_Leo-photo-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    &__box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.head {
    &__logo {
        width: 12%;
        margin: 0 0 0 10%;
        padding: 3% 0 0 0;
        &_image {
            width: 150px;
            min-height: 50px;
            background-image: url("../img/Logo_LEO.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
        &_phone {
            width: 150px;
            margin-top: 3%;
            text-align: center;
            color: $colorTextSecond;
            font-weight: 700;
        }
    }
}

.menu {
    width: 50%;
    &__block {
        width: 100%;
        margin: 6.2% 0 0 0;
        padding: 0;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: flex-end;
        &_item {
            display: block;
            width: 20%;
            margin: 0 3% 0 0;
            list-style-type: none;
            box-sizing: border-box;
        }
        &_link {
            display: block;
            text-align: center;
            padding: 4px 0 6px 0;
            text-decoration: none;
            font-size: 20px;
            font-weight: 700;
            color: $colorSecond;
            border-radius: 20px;
            transition-duration: 0.5s;
            transition-property: background-color;
            cursor: pointer;
        }
        &_link:hover {
            border-radius: 20px;
            background-color: $colorSecond;
            color: $colorTextMain;
            box-sizing: border-box;
        }
    }
}

.headihg {
    width: 40%;
    margin: 15% auto 0 auto;
    text-align: center;
    font-size: 60px;
    color: $colorSecond;
    border-bottom: 3px solid $colorSecond;
    background-color: $colorTextMain_transparent;
    box-shadow: 0 0 40px 60px $colorTextMain_transparent;
    border-radius: 25% 25% 0 0;
}

.subtitle {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    color: $colorSecond;
    background-color: $colorTextMain_transparent;
    box-shadow: 0 0 40px 60px $colorTextMain_transparent;
    border-radius: 0 0 25% 25%;
    &_down {
        width: 40%;
        margin: 20% auto 0 auto;
        text-align: center;
        font-size: 28px;
    }
}

.about {
    background-color: $colorBG;
}

.title {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    font-size: 36px;
    padding: 5% 0 0 0;
}

.content {
    margin: 5% auto 0 auto;
    display: flex;
    &__text {
        width: 30%;
        margin: 0 5% 0 20%;
    }
    &__text-paragraf {
        text-indent: 25px;
        font-size: 20px;
    }
    &__image {
        width: 25%;
        background-image: url("../img/Face.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.buttons-block {
    width: 40%;
    margin: 3% auto 0 auto;
    display: flex;
    justify-content: space-between;
}

.btns-block {
    &__look-portfolio {
        &_link {
            width: 100%;
            display: flex;
            flex-direction: column;
            text-decoration: none;
            transition: 0.5s;
        }
        &_img-port {
            width: 100%;
            height: 80px;
            background-image: url("../img/fotoapparat_icon.png");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
        &_text {
            margin: 5% auto 0 auto;
            color: $colorTextSecond;
            font-size: 20px;
            font-weight: 700;
        }
        &_link:hover {
            opacity: 0.5;
            /*filter: brightness(1.9);*/
        }
    }
    &__look-price {
        &_link {
            width: 100%;
            display: flex;
            flex-direction: column;
            text-decoration: none;
            transition: 0.5s;
        }
        &_img-price {
            width: 100%;
            height: 80px;
            background-image: url("../img/prise_icon.png");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
        &_text {
            margin: 5% auto 0 auto;
            color: $colorTextSecond;
            font-size: 20px;
            font-weight: 700;
        }
        &_link:hover {
            opacity: 0.5;
            /*filter: brightness(1.9);*/
        }
    }
}

.portfolio {
    background-image: url("../img/fon_price.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &__photos-block {
        // ! блок для размещения галлереи из JS
        margin: 1% auto 0 auto;
        background-color: $colorBG_transparent;
        width: 80%;
        min-height: 500px;
    }
}

.content2 {
    &__text2 {
        width: 50%;
        margin: 2% auto;
        font-size: 20px;
        text-align: center;
    }
}

.price {
    background-color: $colorBG;
    &__pricing-block {
        // ! блок для размещения галлереи из JS
        margin: 1% auto 0 auto;
        background-color: $colorTextMain_transparent;
        width: 80%;
        min-height: 500px;
    }
}

.comment {
    background-image: url("../img/Fon_comments.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &__response-block {
        margin: 1% auto 0 auto;
        // background-color: $colorBG_transparent;
        width: 80%;
        min-height: 500px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow: hidden;
        &_arrow-left {
            background-color: inherit;
            border: none;
            cursor: pointer;
            transition: 0.3s;
            outline: inherit;
        }
        &_arrow-left:hover {
            filter: brightness(1.2);
        }
        &_arrow-right {
            background-color: inherit;
            border: none;
            cursor: pointer;
            transition: 0.3s;
            outline: inherit;
        }
        &_arrow-right:hover {
            filter: brightness(1.2);
        }
        &_block-in {
            // ! блок для размещения галлереи из JS
            width: 100%;
            box-sizing: border-box;
            overflow: hidden;
        }
    }
}

// * блок отзывов
.main-comment-block {
    // * margin-left: -XXX;
    width: 9999px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    transition: 1s;
}

.comment-block {
    display: block;
    padding: 20px;
    height: 400px;
    margin: 30px 10px 10px 0;
    background-color: $colorBG_2_transparent;
}

.comment-block span {
    display: block;
    text-align: center;
}

.comment-block p {
    padding: 30px 15px;
}

.feedback {
    background-image: url("../img/Fon_contacts.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    &__form-block {
        margin: 1% auto 0 auto;
        width: 80%;
        min-height: 500px;
    }
    &__form-block:hover &__form-form {
        opacity: 1;
    }
    &__contacts-block {
        width: 350px;
        margin: 0 0 0 60%;
        padding: 1% 0 3% 0;
    }
    &__list-contacts {
        list-style-type: none;
        &_contact-link {
            margin: 3% auto;
            cursor: pointer;
        }
        &_links {
            text-decoration: none;
            display: flex;
            flex-direction: row;
            transition-duration: 0.5s;
        }
        &_links-icon {
            margin: 0 0 0 0;
        }
        &_links-text {
            display: block;
            color: $colorBG;
            padding: 5px;
        }
        &_links:hover {
            filter: brightness(1.9);
        }
    }
    &__title-text {
        color: $colorTextMain;
        margin: 5% auto 2% auto;
    }
    &__form-form {
        width: 350px;
        margin: 0 0 0 60%;
        display: flex;
        flex-direction: column;
        background-color: $colorBG_transparent;
        opacity: 0.5;
        transition: 0.5s opacity;
        &_text {
            color: $colorTextMain;
            text-align: center;
            margin: 2% 0 1% 0;
        }
        &_in-name {
            width: 70%;
            height: 25px;
            margin: 0 auto;
        }
        &_in-phone {
            width: 70%;
            height: 25px;
            margin: 0 auto;
        }
        &_in-text {
            width: 70%;
            height: 70px;
            resize: none;
            margin: 0 auto;
        }
        &_in-send {
            width: 180px;
            height: 40px;
            margin: 5% auto 5% auto;
            padding: 0 0 3px 0;
            border: 2px solid $colorSecond;
            border-radius: 8px;
            font-family: $fontFirst;
            font-size: 20px;
            background-color: inherit;
            color: $colorSecond;
            cursor: pointer;
            transition-duration: 0.5s, 0.5s;
            transition-property: background-color, color;
            transition-delay: 0s, 0.1s;
            box-sizing: border-box;
        }
        &_in-send:hover {
            background-color: $colorSecond;
            color: $colorTextMain;
        }
    }
}