html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}

.container {
  width: 100%;
  background-color: #ccc;
  margin: 0 auto;
}

.head {
  background-image: url("../img/Fon_Leo-photo-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.head__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.head__logo {
  width: 12%;
  margin: 0 0 0 10%;
  padding: 3% 0 0 0;
}

.head__logo_image {
  width: 150px;
  min-height: 50px;
  background-image: url("../img/Logo_LEO.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.head__logo_phone {
  width: 150px;
  margin-top: 3%;
  text-align: center;
  color: #fff;
}

.menu {
  width: 50%;
}

.menu__block {
  width: 100%;
  margin: 6.2% 0 0 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu__block_item {
  display: block;
  width: 20%;
  height: 30px;
  border: 1px solid #000;
  border-radius: 15px;
  margin: 0 3% 0 0;
  list-style-type: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.menu__block_link {
  display: block;
  text-align: center;
  padding: 5px 0;
  text-decoration: none;
  color: #fff;
}
